{{!learning-i18n-resource}}
{{t-def "Success" key="generic_success_message"}}
{{t-def
  "We\u2019ve encountered a problem. Please try again."
  key="generic_error_message"
}}
{{t-def
  "Something unexpected happened, please try again."
  key="unexpected_failure"
}}
{{t-def "You have successfully deleted the user." key="delete_user_success"}}
{{t-def
  "You have successfully made this user an admin."
  key="make_user_admin_success"
}}
{{t-def
  "You have successfully removed this user\u2019s admin rights."
  key="remove_user_admin_success"
}}
{{t-def
  "You have successfully revoked the license from this user."
  key="make_user_inactive_success"
}}
{{t-def
  "You have successfully assigned a license to this user."
  key="make_user_active_success"
}}
{{t-def
  "Error. You\u2019ve exceeded your number of purchased licenses. To add new learners please remove licenses from existing learners or contact your Relationship Manager."
  key="make_user_active_no_licenses"
}}
{{t-def
  "Error. You\u2019ve exceeded your number of purchased licenses. To add new learners please remove licenses from existing learners or contact your Relationship Manager."
  key="create_user_no_licenses"
}}
{{t-def
  "A learner with that email address already exists in this account."
  key="create_user_duplicate_error"
}}
{{t-def
  "A group with that name has already been created in this account."
  key="create_group_duplicate_error"
}}
{{t-def
  "You have successfully added users to a group"
  key="add_to_group_success"
}}
{{t-def
  "You have successfully deleted a user from the group"
  key="delete_from_group_success"
}}
{{t-def
  "Something unexpected happened, please try again. Remember, groups with learners in them cannot be deleted. Please remove each learner first."
  key="unexpected_failure_delete"
}}
{{t-def "You have successfully deleted the group." key="delete_group_success"}}
{{t-def "Failed to retrieve group list." key="group_fetch_failed"}}
{{t-def
  "Your report is being built; when finished, the Download button will appear below in the top row of “Log of previous downloads”"
  key="report_queued_success"
}}
{{t-def "Your feedback has been sent" key="feedback_success"}}
{{t-def
  "We\u2019ve encountered a problem. Please try again."
  key="feedback_error"
}}
{{t-def "Dismiss" key="dismiss"}}
{{t-def
  "You can\u2019t publish because your section doesn\u2019t have courses. Please try adding a course to section and try publishing again."
  key="sections_without_courses_error"
}}
{{t-def
  "You can\u2019t publish because your collection doesn\u2019t include content. Please try adding content to the collection and try publishing again."
  key="collections_without_content_error"
}}
{{t-def "Your Learning Path was saved successfully." key="path_save_success"}}
{{t-def
  "Your Collection was saved successfully."
  key="collection_save_success"
}}
{{t-def
  "{:learningPathName} was successfully duplicated."
  key="toast_msg_duplicate_success"
}}
{{t-def
  "{:learningPathName} was successfully removed."
  key="toast_msg_delete_success"
}}
{{t-def
  "\u2018{:videoName}\u2018 was successfully removed."
  key="toast_msg_delete_video_success"
}}
{{t-def "{:alertContext} was not added." key="failed_to_add_custom_content"}}
{{t-def "{:alertContext} was not saved." key="failed_to_edit_custom_content"}}
{{t-def
  "{:alertContext} was not deleted."
  key="failed_to_delete_custom_content"
}}
{{t-def "Content not found." key="failed_to_find_custom_content"}}
{{t-def
  "Welcome to LinkedIn Learning! Please visit our {:helpLink,anchor,text#Customer Success Center} for resources to help you get started."
  key="welcome_migrated_lynda_admin"
}}
{{t-def
  "You\u2019ve successfully made a recommendation."
  key="recommend_course_success"
}}
{{t-def
  "One or more of your contracts will be suspended soon (Users will lose access if the contract is not renewed)."
  key="licence_in_violation"
}}
{{t-def "Changes successfully saved." key="save_success_message"}}
{{t-def "An error occurred while trying to save." key="save_error_message"}}
{{t-def
  "{:type,select,user#User|subadmin#Sub Admin|curator#Curator|fulladmin#Full Admin|default#\u00A0} successfully saved."
  key="save_persona_success_message"
}}
{{t-def
  "An error occurred while trying to save {:type,select,user#User|subadmin#Sub Admin|curator#Curator|fulladmin#Full Admin|default#\u00A0}."
  key="save_persona_error_message"
}}
{{t-def
  "An error occurred while trying to remove {:type,select,user#User|subadmin#Sub Admin|curator#Curator|fulladmin#Full Admin|default#\u00A0}."
  key="delete_persona_error_message"
}}
{{t-def "The domain is added to the allowed list." key="success_add_message"}}
{{t-def
  "The domain has been removed from the allowed list."
  key="success_remove_message"
}}
{{t-def "The domain property has been updated." key="success_update_message"}}
{{t-def
  "You have successfully created the {:attribute} attribute."
  key="create_attribute_success"
}}
{{t-def
  "You have successfully edited the {:attribute} attribute."
  key="edit_attribute_success"
}}
{{t-def
  "You have successfully deleted the {:attribute} attribute."
  key="delete_attribute_success"
}}
{{t-def
  "You have successfully deleted the {:mapping} mapping."
  key="delete_mapping_success"
}}
{{t-def
  "You have successfully created the {:mapping} mapping."
  key="create_mapping_success"
}}
{{t-def
  "You have successfully edited the  {:mapping} mapping."
  key="edit_mapping_success"
}}
{{t-def
  "Success! We\u2019ve retrieved your metadata"
  key="import_metadata_success"
}}
{{t-def
  "You have successfully edited the {:localizedName} feature control."
  key="feature_control_edit_success"
}}
{{t-def
  "An error occured while downloading CSV result file for GDPR delete."
  key="failed_gdpr_delete_csv_download"
}}
{{t-def "Learner invitation email" key="title"}}
{{t-def
  "Select the invitation email you want to send encouraging learners to get started on LinkedIn Learning."
  key="subtitle_email"
}}
{{t-def
  "{:linkInfo,anchor,text#Create a new custom email template}\u00A0with customized messaging and language settings."
  key="subtitle_csv_new"
}}
{{t-def
  "If license information isn\u2019t added to the CSV, the invitation email will not be sent."
  key="subtitle_csv_sub"
}}
{{t-def "Email template invitation options" key="i18n_add_by_invitation_email"}}
{{t-def "Default invitation email" key="default_template"}}
{{t-def "Custom email template" key="custom_template"}}
{{t-def "Type in the template name (case-sensitive)" key="search_for_custom"}}
{{t-def "Template (case-sensitive)" key="search_for_custom_short"}}
{{t-def "Learn More" key="learn_more"}}
{{t-def
  "No results with \u2018{:templateName,text}\u2019"
  key="no_result_found"
}}
{{t-def
  "You don\u2019t have any email templates yet! Create a template in your\u00A0{:linkInfo,anchor,text#Settings Page}."
  key="no_saved_templates_yet"
}}
{{t-def "Go to email templates settings page" key="go_to_email_customization"}}
{{t-def
  "{:settingsLink,anchor,text#Turn on invitation emails in Global settings} to increase license activation."
  key="email_invite_activation_message"
}}
{{! TODO spathan: make this email message dynamic with map after email types are available }}
{{t-def
  "You\u2019ve deactivated invitation emails for LinkedIn Learning. You can update this control to enabled in {:settingsLink,anchor,text#Global settings}. By re-activating these emails, you can drive learner engagement and we now give you control to customize what the invitation email says ({:link,anchor,text#Go to Customize emails})."
  key="custom_email_deactivate_message"
}}
{{t-def
  "We now show you each email&#8216s click-through rate (CTR) to help you improve your activation rate."
  key="ctr_info"
}}
{{! template-lint-disable no-autofocus-attribute no-implicit-this no-redundant-fn }}
<section data-test-email-template-search-typeahead ...attributes>
  <h3 class="t-16 t-bold email-template-search-typeahead__title">
    {{t "title"}}
  </h3>
  {{#if (feature-toggle-lix "activationEmailsAllowed")}}
    <div data-test-email-template-search-typeahead-subtitle>
      <p class="t-14 t-black--light">
        {{t
          "subtitle_csv_new"
          linkInfo=(t-link-to
            "settings.customization.emails"
            data-control-name="email__go_to_customization_email"
            class="email-template-search-typeahead__subtitle"
            data-test-email-customization-go-to-email-customization-settings=true
            aria-label=(t "go_to_email_customization")
          )
        }}
        {{#if @isFromAddUsersByCsv}}
          <span class="t-14 t-black--light">
            {{t "subtitle_csv_sub"}}
          </span>
        {{/if}}
      </p>
    </div>

    <fieldset
      data-test-email-template-search-typeahead-radio-buttons
      class="email-template-search-typeahead__radio-buttons"
    >
      <legend>{{t "i18n_add_by_invitation_email"}}</legend>
      <div
        data-test-email-template-search-typeahead-radio-button-default
        class="email-template-search-typeahead__radio-button email-template-search-typeahead__radio-button--default"
      >
        {{!
          Default invitation email option
          NOTE: We do not pass anything to /learning-enterprise-api if admin decides to use the original, default invitation email type
        }}

        <input
          checked={{not this.isCustomTemplateSelected}}
          autofocus
          type="radio"
          class="required"
          name="emailTemplatePicker"
          id={{this.defaultInputId}}
          value="DEFAULT"
          aria-describedby={{t "default_template"}}
          onclick={{this.selectCustomTemplateType}}
          onchange={{this.selectCustomTemplateType}}
          {{track-interaction
            "email_template_search_typeahead__select_email_template_radio_button_default"
          }}
        />
        <label for={{this.defaultInputId}}>{{t "default_template"}}</label>
      </div>

      <div
        data-test-email-template-search-typeahead-radio-button-custom
        class="email-template-search-typeahead__radio-button"
      >
        {{! Custom template option }}
        <input
          checked={{this.isCustomTemplateSelected}}
          type="radio"
          class="required"
          name="emailTemplatePicker"
          id={{this.customInputId}}
          value="CUSTOM"
          aria-describedby={{t "custom_template"}}
          onclick={{this.selectCustomTemplateType}}
          {{track-interaction
            "email_template_search_typeahead__select_email_template_radio_button_custom"
          }}
        />
        <label for={{this.customInputId}}>
          {{t "custom_template"}}
        </label>
      </div>
    </fieldset>

    {{#if
      (and this.isCustomTemplateSelected (not this.hasCustomTemplatesToLoad))
    }}
      <div
        class="t-14 t-black--light email-template-search-typeahead__gtm-msg"
        data-test-email-template-search-typeahead-gtm-msg
        {{track-interaction
          "email_template_search_typeahead__go_to_settings_customization"
        }}
      >
        {{li-icon
          class="email-template-search-typeahead__pebble-icon"
          type="notify-pebble-icon"
          size="small"
        }}
        {{t
          "no_saved_templates_yet"
          linkInfo=(t-link-to
            "settings.customization.emails"
            data-test-email-template-search-typeahead-go-to-settings=true
            aria-label=(t "go_to_email_customization")
          )
        }}
      </div>
    {{else if (and this.isCustomTemplateSelected this.showTypeaheadInput)}}
      <Typeahead::DropdownTypeahead class="type-ahead" as |Typeahead|>
        <Typeahead.typeahead-input
          data-test-email-template-search-typeahead-input
          class="email-template-search-typeahead__typeahead-input"
          @value={{this.templateName}}
          @aria-label={{t "search_for_custom"}}
          @aria-describedby={{if
            @addUsersByCsv
            (t
              "subtitle_csv_new"
              linkInfo=(t-link-to "settings.customization.emails")
            )
            (t "subtitle_email")
          }}
          @placeholder={{if
            this.device.isSmall
            (t "search_for_custom_short")
            (t "search_for_custom")
          }}
          @onInput={{fn this.searchEmailTemplate value=target.value}}
          @onBlur={{set this "showResults" false}}
          @onClear={{set this "templateName" ""}}
          @onFocus={{set this "showResults" true}}
        />
        {{#if this.showResults}}
          <Typeahead.typeahead-results-list
            class="email-template-search-typeahead__results-list style-override"
            as |ResultsList|
          >
            {{#each this.results as |result idx|}}
              <ResultsList.typeahead-result
                data-test-email-template-search-typeahead-result
                @idx={{idx}}
                @onSelect={{fn this.selectTypeaheadResult result}}
              >
                <Shared::Typeahead::EmailTemplateTypeaheadResult
                  @resultName={{result.name}}
                  @emailCtr={{result.emailCtr}}
                  @recommend={{result.recommend}}
                  @lastModifiedAt={{result.lastModifiedAt}}
                />
              </ResultsList.typeahead-result>
            {{else}}
              <span
                data-test-email-template-search-typeahead-no-result
                aria-label={{t
                  "no_result_found"
                  templateName=this.templateName
                }}
                class="t-italic t-black--light t-14 email-template-search-typeahead__no-result"
              >
                {{t "no_result_found" templateName=this.templateName}}
              </span>
            {{/each}}
          </Typeahead.typeahead-results-list>
        {{/if}}
      </Typeahead::DropdownTypeahead>
      {{#unless this.showResults}}
        <div
          class="email-template-search-typeahead__ctr-info t-14 t-black--light"
        >
          <span class="email-template-search-typeahead__ctr-info-icon">{{li-icon
              type="notify-pebble-icon"
              size="small"
            }}</span>
          <span>{{t "ctr_info"}}</span>
        </div>
      {{/unless}}
    {{/if}}
  {{else}}
    <p
      data-test-email-template-search-typeahead-custom-email-deactivate
      class="t-14 t-black--light"
    >
      {{t
        "email_invite_activation_message"
        settingsLink=(t-link-to "settings.customization.learner-emails")
        link=(t-link-to "settings.customization.emails")
      }}
    </p>
  {{/if}}
  {{#if (and this.isTypeaheadResultSelected (not this.showTypeaheadInput))}}
    <ArtdecoPillDismiss
      data-test-email-template-search-typeahead-template-pill
      class="email-template-search-typeahead__remove-custom-template-selected-pill"
      @color="blue"
      @text={{this.templateName}}
      @onDismiss={{this.resetCustomTemplateUrn}}
      {{track-interaction
        "email_template_search_typeahead__dismiss_selected_custom_template"
      }}
    />
  {{/if}}
</section>